In [1]:
# importing pandas
import pandas
# calling packages
import pandas as pd
import matplotlib.pyplot as plt

In [28]:
# loading file & describing data 
try:
    df = pd.read_excel('Aceptados_clean.xlsx')
    print(df.describe())
except Exception as e:
    print(f"Error: {e}")

       Apoyo Económico
count         7.000000
mean        214.285714
std          37.796447
min         200.000000
25%         200.000000
50%         200.000000
75%         200.000000
max         300.000000

In [58]:
print(df.head(3))

                  name                                    institution  \
0      Jose Ivan Nieva                Universidad Nacional de Cordoba
1  Yolbeiker Rodríguez  Pontificia Universidad Catolica de Valparaiso
2        Santiago Rios                           Universidad de Chile

  citizenship gender economic_support background_gr programming_skills  \
0   Argentina      M               Si            SI                 SI
1   Venezuela      M               No            SI                 SI
2       Chile      M               No            SI                 SI

  academic_level                          email       field  money  count  \
0    PHD STUDENT             ivan.nva@gmail.com      Fisica  300.0      1
1        POSTDOC  yolbeiker.rodriguez@gmail.com      Fisica    NaN      1
2    MSC STUDENT  santiagoriosherrera@gmail.com  Astronomia    NaN      1

          location
0  another country
1           Region
2         Santiago

In [31]:
#renaming columns
df.columns = ['name','institution', 'citizenship','gender','economic_support','background_gr','programming_skills','academic_level','email','field','money']

In [32]:
#upper case
df['academic_level'] = df['academic_level'].str.upper()
df['background_gr']=df['background_gr'].str.upper()
df['programming_skills']=df['programming_skills'].str.upper()

In [34]:
print(df['field'].value_counts())
reemplazo = {'Astronomia-Matematicas': 'Astronomia', 'Astro': 'Astronomia','Fisico': 'Fisica','Matematicas': 'Fisica-Matematica'}
df['field'] = df['field'].replace(reemplazo)
print(df['field'].value_counts())

Fisica                    15
Astronomia Fisica          8
Matematicas                3
Astronomia                 2
Ingenieria Matematica      2
Fisica-Matematica          1
Computer Science           1
Astronomia-Matematicas     1
Astro                      1
Fisico                     1
Astronomia                 1
Name: field, dtype: int64
Fisica                   16
Astronomia Fisica         8
Astronomia                4
Fisica-Matematica         4
Ingenieria Matematica     2
Computer Science          1
Astronomia                1
Name: field, dtype: int64

In [35]:
print(df['field'].tail(10))
print(df.loc[28])

26               Fisica
27    Astronomia Fisica
28          Astronomia
29    Astronomia Fisica
30               Fisica
31               Fisica
32           Astronomia
33               Fisica
34               Fisica
35    Astronomia Fisica
Name: field, dtype: object
name                            Felipe Vivanco
institution           Universidad Andres Bello
citizenship                              Chile
gender                                       M
economic_support                            No
background_gr                               NO
programming_skills                          SI
academic_level                     PHD STUDENT
email                          fvivanco@me.com
field                              Astronomia
money                                      NaN
Name: 28, dtype: object

In [36]:
df.at[28, 'field']='Astronomia'
print(df.loc[28])

name                            Felipe Vivanco
institution           Universidad Andres Bello
citizenship                              Chile
gender                                       M
economic_support                            No
background_gr                               NO
programming_skills                          SI
academic_level                     PHD STUDENT
email                          fvivanco@me.com
field                               Astronomia
money                                      NaN
Name: 28, dtype: object

In [46]:
#grouped_data = df.groupby('gender')
print(grouped_data['gender'].count())
df['count']= 1

gender
F     6
M    30
Name: gender, dtype: int64

In [47]:
print(df['background_gr'].tail(20))
print(df.loc[17])
df.at[17, 'background_gr']='SI'
print(df.loc[17])

16     SI
17    SI
18     SI
19     SI
20     SI
21     SI
22     SI
23     SI
24     SI
25     SI
26     SI
27     NO
28     NO
29     SI
30     SI
31     SI
32     NO
33     SI
34     SI
35     SI
Name: background_gr, dtype: object
name                                  Daniel Jimenez
institution                Universidad de Concepción
citizenship                                    Chile
gender                                             M
economic_support                                  No
background_gr                                    SI
programming_skills                                SI
academic_level                           MSC STUDENT
email                 daniel.jimenez.parra@gmail.com
field                                         Fisica
money                                            NaN
count                                              1
Name: 17, dtype: object
name                                  Daniel Jimenez
institution                Universidad de Concepción
citizenship                                    Chile
gender                                             M
economic_support                                  No
background_gr                                     SI
programming_skills                                SI
academic_level                           MSC STUDENT
email                 daniel.jimenez.parra@gmail.com
field                                         Fisica
money                                            NaN
count                                              1
Name: 17, dtype: object

In [48]:
table1 = pd.pivot_table(df, values='count', index=[ 'gender','background_gr'],columns=['academic_level'], aggfunc="sum", fill_value=0)
print(table1)

academic_level        MSC STUDENT  PHD STUDENT  POSTDOC  RESEARCHER
gender background_gr
F      NO                       1            0        0           0
       SI                       3            2        0           0
M      NO                       1            1        0           1
       SI                      13            6        4           4

In [16]:
table2 = pd.pivot_table(df, values='count', index=[ 'gender','programming_skills'],columns=['academic_level'], aggfunc="sum", fill_value=0)
print(table2)

academic_level             MSC STUDENT  PHD STUDENT  POSTDOC  RESEARCHER
gender programming_skills
F      NO                            1            2        0           0
       SI                            3            0        0           0
M      NO                            2            0        3           1
       SI                           12            7        1           4

In [17]:
table3=pd.pivot_table(df, values='count', index=[ 'field'],columns=['academic_level'], aggfunc="sum", fill_value=0)
print(table3)

academic_level         MSC STUDENT  PHD STUDENT  POSTDOC  RESEARCHER
field
Astronomia                       2            2        0           1
Astronomia Fisica                8            0        0           0
Computer Science                 0            0        0           1
Fisica                           6            6        3           1
Fisica-Matematica                0            1        1           2
Ingenieria Matematica            2            0        0           0

In [18]:
from prettytable import PrettyTable
pt3 = PrettyTable()
pt3.field_names = ["Field", "MSC STUDENT",  "PHD STUDENT",  "POSTDOC", "RESEARCHER"]
for index, row in table3.iterrows():
    pt3.add_row([index, row["MSC STUDENT"], row["PHD STUDENT"],row["POSTDOC"],row["RESEARCHER"]])

# Mostrar la tabla formateada
print(pt3)

+-----------------------+-------------+-------------+---------+------------+
|         Field         | MSC STUDENT | PHD STUDENT | POSTDOC | RESEARCHER |
+-----------------------+-------------+-------------+---------+------------+
|       Astronomia      |      2      |      2      |    0    |     1      |
|   Astronomia Fisica   |      8      |      0      |    0    |     0      |
|    Computer Science   |      0      |      0      |    0    |     1      |
|         Fisica        |      6      |      6      |    3    |     1      |
|   Fisica-Matematica   |      0      |      1      |    1    |     2      |
| Ingenieria Matematica |      2      |      0      |    0    |     0      |
+-----------------------+-------------+-------------+---------+------------+

In [49]:
print(df['institution'].tail(15))

21                  Pontificia Universidad Católica
22                  Pontificia Universidad Católica
23                             Universidad de Chile
24                             Universidad de Chile
25                             Universidad de Chile
26                             Universidad de Chile
27                             Universidad de Chile
28                         Universidad Andres Bello
29    Pontificia Universidad Católica de Valparaiso
30                        Universidad de Concepción
31    Pontificia Universidad Católica de Valparaiso
32                        Universidad de Concepción
33                        Universidad de Concepción
34                         Universidad de La Serena
35    Pontificia Universidad Católica de Valparaiso
Name: institution, dtype: object

In [50]:
foreigners = df[df['citizenship'] != 'Chile']
n_foreigners = len(foreigners)
n_chile=len(df[df['citizenship'] == 'Chile'])
print("Porcentaje de extranjeros:",n_foreigners*100/(n_foreigners+n_chile) )
print("Número de chilenos:",n_chile )

Porcentaje de extranjeros: 25.0
Número de chilenos: 27

In [51]:
gender_F = df[df['gender'] == 'F']
all=len(df['gender'])
n_gender_F = len(gender_F)
print("Número de mujeres:",n_gender_F )
print("Porcentaje de mujeres:",n_gender_F*100/(n_gender_F+all) )

print("Número de hombres:", (all-n_gender_F))

Número de mujeres: 6
Porcentaje de mujeres: 14.285714285714286
Número de hombres: 30

In [52]:
print(df['institution'].value_counts())
reemplazo2 = {'Universidad de Concepción': 'Universidad de Concepcion', 'Pontificia Universidad Católica de Valparaiso': 'Pontificia Universidad Catolica de Valparaiso','Pontificia Universidad Católica': 'Pontificia Universidad Catolica de Chile','Universidad De Chile': 'Universidad de Chile'}
df['institution'] = df['institution'].replace(reemplazo2)

Universidad de Chile                             8
Universidad de Concepción                        6
Pontificia Universidad Católica de Valparaiso    4
Universidad de La Serena                         3
Pontificia Universidad Católica                  3
Universidad de Santiago de Chile                 2
Universidad Nacional de Cordoba                  1
Universidad De Chile                             1
Universidad de Cordoba                           1
Universidad Industrial de Santander              1
Universidad Austral                              1
CMM Data Science                                 1
CMM Matematicas                                  1
Universität Bielefeld                            1
Universidad Mayor                                1
Universidad Andres Bello                         1
Name: institution, dtype: int64

In [53]:
print(df['institution'].value_counts())

Universidad de Chile                             9
Universidad de Concepcion                        6
Pontificia Universidad Catolica de Valparaiso    4
Universidad de La Serena                         3
Pontificia Universidad Catolica de Chile         3
Universidad de Santiago de Chile                 2
Universidad Nacional de Cordoba                  1
Universidad de Cordoba                           1
Universidad Industrial de Santander              1
Universidad Austral                              1
CMM Data Science                                 1
CMM Matematicas                                  1
Universität Bielefeld                            1
Universidad Mayor                                1
Universidad Andres Bello                         1
Name: institution, dtype: int64

In [54]:
# Función para asignar región o capital
def f_region(institution):
    if "Valparaiso" in institution:
        return "Region"
    elif "Concepcion" in institution:
        return "Region"
    elif "Serena" in institution:
        return "Region"
    elif "Austral" in institution:
        return "Region"
    elif "Mayor" in institution:
        return "Santiago"
    elif "Chile" in institution:
        return "Santiago"
    elif "CMM" in institution:
        return "Santiago"
    elif "Bello" in institution:
        return "Santiago"
    # Puedes agregar más condiciones según tus necesidades
    else:
        return "another country"

# Aplicar la función para crear la nueva columna
df['location'] = df['institution'].apply(f_region)

# Mostrar el DataFrame resultante
print(df['location'].head(5))

0    another country
1             Region
2           Santiago
3    another country
4    another country
Name: location, dtype: object

In [55]:
regions = df[df['location'] == 'Region']
n_regions = len(regions)
print("Número de regiones:",n_regions )

Número de regiones: 14

In [56]:
table4=pd.pivot_table(df, values='count', index=['location'],columns=['gender'], aggfunc="sum", fill_value=0)
print(table4)

gender           F   M
location
Region           4  10
Santiago         2  16
another country  0   4

In [57]:
from prettytable import PrettyTable
pt4 = PrettyTable()
pt4.field_names = ["gender", "F",  "M"]
for index, row in table4.iterrows():
    pt4.add_row([index, row["F"], row["M"]])

# Mostrar la tabla formateada
print(pt4)

+-----------------+---+----+
|      gender     | F | M  |
+-----------------+---+----+
|      Region     | 4 | 10 |
|     Santiago    | 2 | 16 |
| another country | 0 | 4  |
+-----------------+---+----+